html{
    /*Option 1*/background: url('blueTech.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}
.box{
    color: white;
}
.contact{
    justify-content: left;
    text-align: left;
}
#myName{
    font-size: 67px;
}
.subTitle{
    font-size: 25px;
}