.everything{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 20px;
}
.contact{
    justify-content: left;
    text-align: left;
}
#myName{
    font-size: 67px;
}
.subTitle{
    font-size: 25px;
}
/*In line Pictures*/
.page-container {
    display: flex;
    padding-left: 8%;
    padding-right: 4%;
    /*justify-content: center;*/
}

.page-container > .content-wrapper {
    width: 95%;
}

.page-container > .content-wrapper > #ballroom {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper > #sheTechIntern {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper > #demoTeam {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper > #choirPic {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper > #friendsMusical {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}

.page-container > .content-wrapper p {
    text-decoration: none;
    text-align: left;
}
/*Images*/
/*#ballroom{
    width: 20%;
}