.page-container > .content-wrapper > #dollBones {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #princessX {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #alosa {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #harryPotter {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #hungerGames {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #percyJackson {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #michaelVey {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #ballroom {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #ballroom {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper > #ballroom {
    width: 320px;
    margin: 23px 40px 20px 0px;
    float: left;
    border: 1px solid #cea135;
}