html{
    background: url('blueTech.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  padding-left: 5.75%;
  padding-right: 50px;
  padding-top: 20px;
  padding-right: 40px;
}
p{
    color: white;
}
.contact{
    justify-content: left;
    text-align: left;
    padding-top: 10px;
}
.myName{
    font-size: 67px;
    padding-bottom: 17px;
}
.subTitle{
    font-size: 25px;
}
.subHead{
    font-size: 38px;
}
.detail{
    padding-left: 51px;
    font-size: 15px;
}
.over{
    padding-left: 21px;
}