html{
    background: url('https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2013/8/13/0/Original_Marian-Parsons-Cafe-Curtain-Beauty1_v.jpg.rend.hgtvcom.616.822.suffix/1400954682471.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  grid-column: 6;
  grid-row: 4;
}
#myName{
    font-size: 46px;
}
#